.list {
  list-style: none;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  background-color: var(--bg-color);

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-inline: 1.5em;
  }

  li.footer-item {
    padding-bottom: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-footer);
    font-size: 0.9em;
    .actions {
      display: none;
      @media (min-width: 600px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.2em;
        font-size: inherit;

        button {
          background-color: inherit;
          color: inherit;
          border: none;
          padding: 0;
          font-size: inherit;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            color: blue;
          }
        }
      }
    }
    .items-left {
      font-size: inherit;
    }
    button.clear {
      color: inherit;
      background-color: inherit;
      border: none;
      padding: 0;
      font-size: inherit;
      cursor: pointer;
      &:hover {
        color: var(--text-todo-color);
      }
    }
  }
}
