.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color-deep);
  span {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 20px;
  }

  div {
    width: max-content;
    .circle {
      border: 1px solid var(--border-color);
      border-radius: 50px;
      width: 1.2em;
      height: 1.2em;
    }
  }

  img {
    height: 1em;
  }
}
