.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-todo-color);
  cursor: pointer;
  span {
    text-align: left;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-left: 20px;
  }

  .circle-container {
    width: max-content;
    .circle {
      border: 1px solid var(--border-color);
      border-radius: 50px;
      width: 1.2em;
      height: 1.2em;
      &:hover {
        background: linear-gradient(var(--bg-color), var(--bg-color))
            padding-box,
          linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
        border: 1px solid transparent;
      }
    }
    .circle-active {
      border: 1px solid var(--border-color);
      border-radius: 50px;
      width: 1.2em;
      height: 1.2em;
      background-image: linear-gradient(
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
      display: flex;
      justify-content: center;
      align-items: center;
      .img-div {
        background: url('../../images/icon-check.svg') center no-repeat;
        width: 0.7em;
        height: 0.7em;
      }
    }
  }

  img {
    height: 1em;
    cursor: pointer;
    @media (min-width: 600px) {
      // display: none;
    }
  }
}
