@import '../../colors.scss';
.light .form {
  background-color: $light-grey;

  div.circle {
    border: 1px solid $deep-light-grayish-blue;
  }
}

.dark .form {
  background-color: $deep-dark-desaturated-blue;
  div.circle {
    border: 1px solid $deep-dark-grayish-blue;
  }
}
.form-container {
  width: 100%;
}
.form {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 3em;
  @media (min-width: 1400px) {
    height: 4em;
  }

  input {
    width: 100%;
    border: none;
    margin-left: 20px;
    background-color: inherit;
    // background-color: green;
    @media (min-width: 800px) {
    }
  }

  input::placeholder {
    color: $dark-grayish-blue;
  }

  input:focus {
    outline: none;
  }

  div {
    width: max-content;
    // background-color: red;
    .circle {
      // border: 1px solid $deep-light-grayish-blue;
      border-radius: 50px;
      width: 1.2em;
      height: 1.2em;
      // margin-right: 1em;
    }
  }
}
