.form-container {
  width: 100%;
}
.form {
  background-color: var(--bg-color);
  padding-inline: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 3em;
  @media (min-width: 1400px) {
    height: 4em;
  }

  input {
    width: 100%;
    border: none;
    margin-left: 20px;
    background-color: inherit;
    color: var(--text-color-input);
    @media (min-width: 800px) {
    }
  }

  input::placeholder {
    color: var(--text-color);
  }

  input:focus {
    outline: none;
  }

  div {
    width: max-content;
    .circle {
      border: 1px solid var(--border-color);
      border-radius: 50px;
      width: 1.2em;
      height: 1.2em;
    }
  }
}
