.main-container {
  background-color: inherit;
}

.todo {
  // background-color: red;
  top: 7rem;
  width: 90vw;
  margin-inline: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 800px) {
    width: 60vw;
    margin-inline: 20vw;
    top: 9rem;
  }
  @media (min-width: 1400px) {
    width: 36vw;
    margin-inline: 32vw;
  }
}
