@mixin backgroundImg($mobileImg, $desktopImg) {
  background-image: url($mobileImg);
  @media (min-width: 375px) {
    background-image: url($desktopImg);
  }
}

.headerImg {
  width: 100vw;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 375px) {
    height: 300px;
  }
}
.headerImg--light {
  @include backgroundImg(
    '../../images/bg-mobile-light.jpg',
    '../../images/bg-desktop-light.jpg'
  );
}
.headerImg--black {
  @include backgroundImg(
    '../../images/bg-mobile-dark.jpg',
    '../../images/bg-desktop-dark.jpg'
  );
}
