@import '../../colors.scss';

@mixin header($mobileImg, $desktopImg) {
  width: 100vw;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($mobileImg);
  @media (min-width: 375px) {
    height: 300px;
    background-image: url($desktopImg);
  }
}

.light {
  .headerImg {
    @include header(
      '../../images/bg-mobile-light.jpg',
      '../../images/bg-desktop-light.jpg'
    );
  }
}

.dark {
  .headerImg {
    @include header(
      '../../images/bg-mobile-dark.jpg',
      '../../images/bg-desktop-dark.jpg'
    );
  }
}

.header__container {
  position: fixed;
  top: 20px;
  width: 90vw;
  margin-inline: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-grey;
  @media (min-width: 375px) {
    width: 40vw;
    margin-inline: 30vw;
  }

  h1 {
    font-size: 25px;
    font-family: 'Josefin Sans';
    letter-spacing: 0.3em;
    text-transform: uppercase;
    @media (min-width: 375px) {
      font-size: 40px;
    }
  }

  img {
    width: 20px;
    @media (min-width: 375px) {
      width: 35px;
    }
  }
}
